@import '../../global.scss';

.renderUser {
  display: flex;
  align-items: center;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 25px;
  }
}

.userList {
  flex: 4;
  background-color: $mainColor;
  color: $textColor;
}

.userListEdit {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: $navColor;
  color: $textColor;
  border: 1px solid $borderColor;
  margin-right: 20px;
  cursor: pointer;

  &:hover {
    background-color: $sidebarColor;
  }
}

.userDeleteIcon {
  cursor: pointer;
  color: red;
}
